body {
  font-family: 'TT Jenevers';
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
}
h1 {
  font-weight: normal;
  font-size: 30px;
  line-height: 32px;
  margin: 0;
}
