@import '~/vue-mobile-viewport-height/src/mobile-viewport-height.scss';

.header {
  height: 20vh;
  .item {
    display: flex;
    padding: 0 48px;
    justify-content: space-between;
    text-align: center;
    font-weight: normal;
    font-size: 24px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}
.footer {
  height: 10vh;
  width: 100%;
  .item {
    display: flex;
    padding: 0 48px;
    justify-content: space-between;
    text-align: center;
    font-weight: normal;
    font-size: 15px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}
.spacer {
  height: 5vh;
}
.content {
  width: 100%;
  text-align: center;
  height: 60vh;
}
.slides {
  height: 100%;
  margin: 0 auto;
  img {
    max-height: 100%;
    max-width: 90%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

.main {
  @include mobile-viewport-height();
}
@media (max-width: 767.98px) {
  .header {
    .item {
      padding: 0 12px;
    }
  }
  .footer {
    .item {
      padding: 0 12px;
    }
  }
}
