@mixin mobile-viewport-height() {
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
}

.header {
  height: 20vh;
  .item {
    display: flex;
    padding: 0 48px;
    //justify-content: space-between;
    text-align: center;
    font-weight: normal;
    font-size: 24px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    .dash {
      padding-top: 2px;
    }
  }
}
.footer {
  height: 10vh;
  width: 100%;
  .item {
    display: flex;
    padding: 0 48px;
    justify-content: space-between;
    text-align: center;
    font-weight: normal;
    font-size: 15px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    .link {
      cursor: pointer;
    }
  }
  .item-all {
    display: flex;
    padding: 0 48px;
    justify-content: center;
    text-align: center;
    font-weight: normal;
    font-size: 15px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    .link {
      cursor: pointer;
    }
  }
}
.spacer {
  height: 5vh;
}
.content {
  width: 100%;
  text-align: center;
  height: 60vh;
  p {
    font-size: 15px;
  }
}
.slides {
  height: 100%;
  margin: 0 auto;
  img {
    max-height: 100%;
    max-width: 90%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .item {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

.main {
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
}
@media (max-width: 991px) {
  .header {
    .item {
      padding: 0 12px;
      font-size: 22px;
    }
  }
  .footer {
    .item {
      padding: 0 12px;
      font-size: 14px;
    }
  }
}
