/* Error: Can't find stylesheet to import.
 *   ,
 * 1 | @import '~/vue-mobile-viewport-height/src/mobile-viewport-height.scss';
 *   |         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   /Users/petr/Projects/rzdv/assets/scss/_content.scss 1:9  @import
 *   /Users/petr/Projects/rzdv/assets/scss/style.scss 3:9     root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a   \2577 \a 1 \2502  @import '~/vue-mobile-viewport-height/src/mobile-viewport-height.scss';\a   \2502          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   /Users/petr/Projects/rzdv/assets/scss/_content.scss 1:9  @import\a   /Users/petr/Projects/rzdv/assets/scss/style.scss 3:9     root stylesheet";
}
